@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #__nuxt {
    @apply h-full;
  }
}

@layer components {
  .__container {
    @apply mx-auto 2xl:max-w-[1600px];
  }
}
input {
  -webkit-appearance: none;
  outline: none;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.08);
  transform: scale(0);
  animation: ripple-animation 0.75s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
